.body{
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.heroImage{
  background: url("https://firebasestorage.googleapis.com/v0/b/ksjournal-64785.appspot.com/o/coverpage.jpg?alt=media&token=75f381ec-ca9b-47f0-b379-96e77f391b5d");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  animation-name: heroImage;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  height: 200px;
  filter: brightness(65%);
}

@keyframes heroImage {
  from {
    background-position: top;
    filter: brightness(100%);
  }
  to {
    background-position: bottom;
    filter: brightness(65%);
  }
}

.heroText{
  transform: translate(0,-170px);
  font-size: 170%;
  color: white;
  opacity: 0%;
  position: absolute;

  animation-name: heroText;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.heroText h1{
  margin: 0;
}
.heroText p{
  margin: 0;
  letter-spacing: 6px;
}
.heroText :after{
  opacity: 100%;
}

@keyframes heroText {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 600px) {
  .heroText{
    transform: translate(-30px,-100px);
    text-align: center;
    width: 100%;
    font-size: 100%;
  }
  .heroImage{
    height: 120px;
  }
}
.coverphoto{
  text-align: center;
  padding-right: 20px;
  font-size: 120%;
  letter-spacing: 1.5px;
  color: #333;
}
.coverphoto img{
  width: 400px;
}

.coverDescription{
  
  color: #222;
  line-height: 160%;
  font-size: 90%;
  margin-top: 0;
  margin: 3%;
  padding: 2%;
  outline: solid;
  outline-width: thin;
  outline-color: lightgrey;
  padding-bottom: 20px;
  transition: 0.3s;
}

.coverDescription:hover{
  outline-width: normal;
  outline-color: black;
  transition: 0.3s;
  cursor: pointer;
}

.coverDescription h1{
  color: #444;
  font-size: 550%;
  margin: 40px 0px 10px 0px;

}
.coverDescription h2{
  text-align: right;
  margin: 0;
  padding: 10px 0px;
}
.coverDescription img{
  width: 100%;
  
  padding-bottom: 1%;
}
.coverDescription p{
  padding: 0%;
}


.featuredPoemHeader h3{
  color: #333;
  letter-spacing: 3px;
  font-size: 200%;
  margin: 0;
  transform: translate(0px, -13px);
}
.featuredPoemWrap{
  display: flex;
  border-left: solid;

  border-color: darkgrey;
  margin: 15px 1px;
  height: 50px;
}
.featuredPoemWrap:hover{
  transition: 0.5s;
  border-color: #f66;
  color: black;
  cursor: pointer;
}
.featuredPoemImage img{
  width: 80px;
  margin: 10px;
}
.featuredPoemText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.featuredPoemText h3{
  margin: 0;

  letter-spacing: 1.5px;
}
.featuredPoemText p{
  font-style: italic;
  color: grey;
  margin: 0;
}

.readIssue{
  display: flex;
  border: none;
  border-color: darkgrey;
  margin: 5px 1px;
  height: 100px;
  width: 100%;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #333;
  text-decoration: underline;
}
.readIssue:hover{
  transition: 0.3s;
  color: #666;
}


.sectionHeader{
  text-align: left;
  color: #222;
  line-height: 160%;
  font-size: 90%;
  margin: 40px;
}
.sectionHeader img{
  
  width: 50px;
  transform: scale(-1, -1);

}
.sectionHeader h1{
  font-size: 400%;
}
.sectionHeader h2{
  font-size: 300%;
  letter-spacing: 10px;
}
.sectionHeader h3{
  font-size: 150%;
  letter-spacing: 2px;
}
.sectionHeader p{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blogWrap{
  text-align: center;
  width: 280px;
  margin: 10px 0px;
}
.blogWrap img{
  height: 300px;

}
.blogWrap h3{
  margin: 0;
  color: #333;
  font-weight: normal;
  line-height: 160%;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

.newsWrap{
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0px 0px 30px 0px;

}
.newsWrap img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.newsText{
  margin: 0px 10px;
  font-size: 115;
  letter-spacing: 1.3px;
  color: #333;
  width: 210px;
}
.newsText h3{
  margin: 0;
  margin-bottom: 10px;
}
.newsText p{
  margin: 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
